[submodule "static/labPics"]
	path = frontend/static/labPics
	url = https://github.com/hihilary/cailab-hompage-pictures.git
[submodule "mobile/static/labPics"]
	path = mobile/static/labPics
	url = https://github.com/hihilary/cailab-hompage-pictures.git
